{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% for item in news %}
    <div class="card md-3" style="width: 1000px;">
        {{ forloop.counter }}
        <div class="card-header">
            <div class="media">
                <div class="media-photo">
                    {% if item.photo %}
                    <img src="{{ item.photo.url }}" class="mr-3" width="350" alt="Photo">
                    {% else %}
                    <h6>Не получилось найти фотографию</h6>
                    {% endif %}
                </div>
                <div class="media-body">
                    <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}">
                        {{ item.title }}
                    </h5>
                    {% autoescape off %}
                    <p class="card-text">{{ item.content }}</p>
                    {% endautoescape %}
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                </div>
                Категория: <a href="{{ item.category.get_absolute_url }}"> {{ item.category.title }}</a></div>
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer text-body-secondary">
            {{ item.created_at|date:'Y-m-d H:i'}}
        </div>
        {% endfor%}
    </div>
{% endblock %}